<app-nav></app-nav>
<h1>{{ title }}</h1>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" fxLayoutAlign="center">
	<div fxFlex="100%">
		<form [formGroup]="formModel" (ngSubmit)="onSubmit()">
			<label formArrayName="services" *ngFor="let service of formModel.controls.services.controls; let i = index">
				<mat-checkbox formControlName="services" [formControlName]="i">
					{{checkboxOptions[i].service}}
				</mat-checkbox>
			</label>

			<mat-divider></mat-divider>
			<label class="label">Standard Fees</label>
			<mat-form-field>
				<mat-label>Parts</mat-label>
				<input formControlName="parts" matInput type="text" name="parts">
				<span class="error" [hidden]="!formModel.hasError('pattern', 'parts')">Please enter a valid amount.</span>
			</mat-form-field>

			<div><mat-form-field>
				<mat-label>Labor</mat-label>
				<input formControlName="labor" matInput type="text" name="labor">
				<span class="error" [hidden]="!formModel.hasError('pattern', 'labor')">Please enter a valid amount.</span>
			</mat-form-field></div>

			<h3>Total: {{ grandTotal }}</h3>
			<div style="text-align:right"><button mat-raised-button color="primary" type="submit">Calculate</button></div>
		</form>
	</div>
</div>

<router-outlet></router-outlet>