<app-nav></app-nav>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" fxLayoutAlign="center">
	<div fxFlex="25%" class="column">
		<app-sidenav></app-sidenav>
	</div>
	<div fxFlex="75%">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Phone Validator</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
					<mat-form-field>
						<mat-label>Phone Number: </mat-label>
						<input matInput type="text" name="phone" ngModel required
							pattern="[0-9]*"
							minlength="10"
							#phone="ngModel"
							[class.hasError]="phone.isvalid && phone.touched">
					</mat-form-field>

					<button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Submit</button>

					<div [hidden]="phone.valid || phone.pristine">
						<div class="error" [hidden]="!phone.hasError('minlength')">Phone has to have at least 10 digits.</div>
						<div class="error" [hidden]="!phone.hasError('required')">Phone is required</div>
						<div class="error" [hidden]="!phone.hasError('pattern')">Only digits are allowed</div>
					</div>

				</form>
			</mat-card-content>
		</mat-card>
	</div>
</div>

<router-outlet></router-outlet>