/* Form Styles */
.frm-login {
    width: 50%;
    margin: 0 auto;
}

.frm-login-panel {
    border: 1px solid black
}

.frm-login-header {
    background-color: mediumblue;
}

.frm-login-toolbar {
    background-color: mediumblue;
    color: white
}

.frm-login-body {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.btn-login,
.btn-cancel {
    background-color: mediumblue;
    color: white;
}

.frm-login-actions {
    text-align: right;
}

/* Global Styles */
.wrapper {
    width: 100%;
    margin-top: 10%;
}